.flipicker_wrapper input {
	display: none ;
}

.flipicker_wrapper {
	width: 160px ;
	height: 60px ;
	margin-bottom: 20px ;
}

.flipicker_wrapper a {
	color: rgba(255,255,255,0.9);
	text-decoration: none ;
}

.flipicker_wrapper .hours,
.flipicker_wrapper .minutes,
.flipicker_wrapper .tophalf {
	margin: 0 ;
	padding: 0 ;
	float: left ;
	display: inline ;
	width: 78px ;
	height: 60px ;
	background-color: rgba(38,38,38,1);
	
	font-family: "Helvetica Neue", Helvetica ;
	font-weight: normal ;
	font-size: 50px ;
	text-align: center ;
	line-height: 55px ;

	border-top-left-radius: 8px ;
	border-bottom-left-radius: 8px ;

	border-top-right-radius: 8px ;
	border-bottom-right-radius: 8px ;
	position: relative ;

	background-color: #262626;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(38, 38, 38)), to(rgb(77, 77, 77)));
	background-image: -webkit-linear-gradient(top, rgb(38, 38, 38), rgb(77, 77, 77));
	background-image: -moz-linear-gradient(top, rgb(38, 38, 38), rgb(77, 77, 77));
	background-image: -o-linear-gradient(top, rgb(38, 38, 38), rgb(77, 77, 77));
	background-image: -ms-linear-gradient(top, rgb(38, 38, 38), rgb(77, 77, 77));
	background-image: linear-gradient(top, rgb(38, 38, 38), rgb(77, 77, 77));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#262626', EndColorStr='#4d4d4d');

}

.flipicker_wrapper .hours, .flipicker_wrapper .hours .tophalf {
	width: 68px ;
	padding-right: 10px ;
	margin-right: 4px ;
	text-align: right ;
	letter-spacing: -4px ;
}

.flipicker_wrapper .tophalf {
	height: 29px ;
	overflow: hidden ;
	position: absolute ;
	top: 0 ;
	left: 0 ;
	
	border-bottom-right-radius: 0 ;
	border-bottom-left-radius: 0 ;
	
	border-bottom: 2px solid rgba(26,26,26,1);
	
	background-color: #262626;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(38, 38, 38)), to(rgb(46, 46, 46)));
	background-image: -webkit-linear-gradient(top, rgb(38, 38, 38), rgb(46, 46, 46));
	background-image: -moz-linear-gradient(top, rgb(38, 38, 38), rgb(46, 46, 46));
	background-image: -o-linear-gradient(top, rgb(38, 38, 38), rgb(46, 46, 46));
	background-image: -ms-linear-gradient(top, rgb(38, 38, 38), rgb(46, 46, 46));
	background-image: linear-gradient(top, rgb(38, 38, 38), rgb(46, 46, 46));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#262626', EndColorStr='#2e2e2e');
}

.flipicker_wrapper .pm {
	position: absolute ;
	font-size: 9px ;
	font-weight: bold ;
	left: 6px ;
	bottom: 13px ;
	letter-spacing: 1px ;
	line-height: 10px ;
	color: rgba(255,255,255,0.9);
}

/* light theme */

.flipicker_light a {
	color: rgba(0,0,0,0.9);
}

.flipicker_light .hours,
.flipicker_light .minutes,
.flipicker_light .tophalf {

background-color: #f5f5f5;
background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(245, 245, 245)), to(rgb(255, 255, 255)));
background-image: -webkit-linear-gradient(top, rgb(245, 245, 245), rgb(255, 255, 255));
background-image: -moz-linear-gradient(top, rgb(245, 245, 245), rgb(255, 255, 255));
background-image: -o-linear-gradient(top, rgb(245, 245, 245), rgb(255, 255, 255));
background-image: -ms-linear-gradient(top, rgb(245, 245, 245), rgb(255, 255, 255));
background-image: linear-gradient(top, rgb(245, 245, 245), rgb(255, 255, 255));
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f5f5f5', EndColorStr='#ffffff');


	/* 
border: 1px solid #ccc ;
	width: 70px !important ;
	height: 58px ;
 */

}

.flipicker_light .tophalf {

background-color: #d6d6d6;
background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(214, 214, 214)), to(rgb(245, 245, 245)));
background-image: -webkit-linear-gradient(top, rgb(214, 214, 214), rgb(245, 245, 245));
background-image: -moz-linear-gradient(top, rgb(214, 214, 214), rgb(245, 245, 245));
background-image: -o-linear-gradient(top, rgb(214, 214, 214), rgb(245, 245, 245));
background-image: -ms-linear-gradient(top, rgb(214, 214, 214), rgb(245, 245, 245));
background-image: linear-gradient(top, rgb(214, 214, 214), rgb(245, 245, 245));
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#d6d6d6', EndColorStr='#f5f5f5');
	
	border: none ;
	border-bottom: 2px solid #dadada;
/* 
	width: 66px ;	
	height: 29px ;
 */

}

.flipicker_light .pm {
	color: rgba(0,0,0,0.9);
}